{!-- <button class="change-status" data-id="{{id}}" data-newstatus="{{status}}">
		{{#if status}}DEACTIVATE!{{else}}ACTIVATE!{{/if}}
	</button> --}}
<tr>
	<td>{{patient_name}}</td>
	<td>{{healthStat.risk_factor}}</td>
	<td>{{healthStat.diet_recommendation}}</td>
	<td>{{healthStat.diet_restriction}}</td>
	<td>
		<a href= {{savedRecipe.favorite}}>This Recipe</a>
	</td>
</tr>
