{{!--
<button class="change-status" data-id="{{id}}" data-newstatus="{{status}}">
	{{#if status}}DEACTIVATE!{{else}}ACTIVATE!{{/if}}
</button> --}}
{{!--
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" /> --}}
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<tr>
	<td>{{patient_name}}</td>
	<td>{{healthStat.risk_factor}}</td>
	<td>{{healthStat.diet_recommendation}}</td>
	<td>{{healthStat.diet_restriction}}</td>
	<td>
		<a href={ {savedRecipe.favorite}}>This Recipe</a>
	</td>
	<td>
		<button name="button" class="delete-patient btn btn-warning" data-patient-id="{{id}}">Delete Patient</button>
	</td>
</tr>