	<p>Patient: {{patient_name}}</p></n>
	<p>Health Concerns: {{risk_factor}}</p></n>
	<p>Diet: {{diet_option}}</p></n>
	<p>Restrictions: {{diet_restriction}}</p></n>
	{{!-- <button class="change-status" data-id="{{id}}" data-newstatus="{{status}}">
		{{#if status}}DEACTIVATE!{{else}}ACTIVATE!{{/if}}
	</button> --}}
	<br>
