<tr>
	<td id=1 data-value= {{id}}>{{patient_name}}</td>
	<td id=2 data-value= {{healthStat.risk_factor}}>{{healthStat.risk_factor}}</td>
	<td id=3 data-value= {{healthStat.diet_recommendation}}>{{healthStat.diet_recommendation}}</td>
	<td id=4 data-value= {{healthStat.diet_restriction}}>{{healthStat.diet_restriction}}</td>
	<td id=5 data-value= {{savedRecipe.recipe}}>
		<a href= {{savedRecipe.recipe}}>This Recipe</a>
	</td>
</tr>