<p id=1 data-value={{id}}>User: {{patient_name}}</p>
<p id=2 data-value={{risk_factor}}>Risk Factor: {{risk_factor}}</p>
<p id=3 data-value={{diet_option}}>Diet Recommendation: {{diet_option}}</p>
<p id=4 data-value={{diet_restriction}}>Allergies/Restrictions: {{diet_restriction}}</p>
<p id=5 data-value={{fave_recipe}}>Favorite Recipe: <a href={{fav_recipe}} target="_blank">This Recipe</a></p>